.dot1{
  left: 160px;
  top: 0px;
}

.dot2{
  left: 89px;
  top: 49px;
}

.dot3{
  left: 230px;
  top: 49px;
}

.dot4{
  left: 18px;
  top: 98px;
}

.dot5{
  left: 160px;
  top: 98px;
}

.dot6{
  left: 301px;
  top: 98px;
}

.dot7{
  left: 89px;
  top: 148px;
}

.dot8{
  left: 230px;
  top: 148px;
}

.dot9{
  left: 18px;
  top: 197px;
}

.dot10{
  left: 160px;
  top: 197px;
}

.dot11{
  left: 301px;
  top: 197px;
}

.dot12{
  left: 89px;
  top: 247px;
}

.dot13{
  left: 230px;
  top: 247px;
}

.dot14{
  left: 18px;
  top: 296px;
}

.dot15{
  left: 160px;
  top: 296px;
}

.dot16{
  left: 301px;
  top: 296px;
}

.dot17{
  left: 89px;
  top: 346px;
}

.dot18{
  left: 230px;
  top: 346px;
}

.dot19{
  left: 160px;
  top: 395px;
}

